body{
  padding: 0;
  margin: 0;
  background-color: #224018;
  color: chartreuse;
  font-family: "Share Tech Mono";
}
.kotakluar{
  display: flex;
  justify-content: center;
  transform: translateY(50vh) translateY(-50%);
}
.perangkat{
  position: relative;
}
.login{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 0;
  width: 60vw;
  height: 45vh;
  background-color: darkgreen;
  border: 10px solid white;
  border-radius: 10px;
  box-shadow: 8px 8px 8px 10px rgba(255, 255, 255, 0.6);
}
.nama{
  background-color: transparent;
  border-color: transparent;
}
#Judul{
  font-size: 28px;
}
#tanya1, #nama{
  font-size: 22px;
}
input{
  width: 90%;
  text-align: center;
}
input::placeholder{
  text-align: center;
  color: chartreuse;
  font-size: 20px;
}
.ui{
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.login.hilang{
  pointer-events: none;
  visibility: hidden;
}