body{
  padding: 0;
  margin: 0;
  background-color: #224018;
}
.kotakluar{
  display: flex;
  justify-content: center;
  transform: translateY(50vh) translateY(-50%);
}
.perangkat{
  width: 60vw;
  height: 45vh;
  background-color: darkgreen;
  border: 10px solid white;
  border-radius: 10px;
  box-shadow: 8px 8px 8px 10px rgba(255, 255, 255, 0.6);
}